div.room-list-wrapper {
	contain: strict;
	grid-area: roomlist;
	background: var(--room-list-background);
	box-sizing: border-box;
	overflow: hidden;
	scrollbar-color: var(--room-list-scrollbar-color);
	display: grid;
	grid-template:
		"spacebar search"   var(--window-top-margin)
		"spacebar search"   3.5rem
		"spacebar roomlist" 1fr
		"profile  roomlist" 3rem
		"blank    roomlist" var(--window-bottom-margin)
		/ 3rem    1fr;

	container-type: inline-size;
	container-name: left-panel;

	> div.blank {
		grid-area: blank;
		background-color: var(--space-list-background-overlay);
	}
}

div.room-list {
	background-color: var(--room-list-background-overlay);
	overflow-y: auto;
	overscroll-behavior-y: contain;
	grid-area: roomlist;
	padding-bottom: var(--window-bottom-margin);
}

div.profile-switcher {
	background-color: var(--space-list-background-overlay);
	grid-area: profile;

	> div.profile-switcher-item {
		width: 2.5rem;
		height: 2.5rem;
		padding: .25rem;
		cursor: var(--clickable-cursor);

		&:hover, &:focus {
			background-color: var(--room-list-entry-hover-color);
		}
	}
}

div.profile-switcher-menu {
	> button {
		justify-content: space-between;
		height: 2.5rem;
		padding: 0 .75rem;
		gap: .25rem;

		&.active {
			background-color: var(--room-list-entry-selected-color);
		}

		> img.avatar {
			height: 2rem;
			width: 2rem;
		}

		> div.room-entry-unreads {
			width: 2rem;
			margin: 0;
		}
	}
}

div.space-bar {
	background-color: var(--space-list-background-overlay);
	grid-area: spacebar;
	overflow: auto;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	padding-top: var(--window-top-margin);

	> div.space-entry {
		width: 2rem;
		height: 2rem;
		padding: .25rem;
		margin: .25rem;
		border-radius: .25rem;
		cursor: var(--clickable-cursor);

		&:hover, &:focus {
			background-color: var(--room-list-entry-hover-color);
		}

		&.active {
			background-color: var(--room-list-entry-selected-color);
		}

		> svg {
			width: 100%;
			height: 100%;
		}

		> img.avatar {
			border-radius: 0;
			clip-path: url(#squircle);
			width: 100%;
			height: 100%;
		}
	}
}

div.room-search-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	height: 3.5rem;
	background-color: var(--room-list-search-background-overlay);
	grid-area: search;
	padding-top: var(--window-top-margin);
	contain: strict;
	container-type: inline-size;
	container-name: room-search;

	@container room-search (max-width: 8rem) {
		/* TODO after switching to a room search modal, bring back the search button here */
		> button.create-room-button {
			margin: auto;
		}

		> button.search-clear-button, > input {
			display: none;
		}
	}

	> input {
		padding: 0 0 0 1rem;
		height: 3rem;
		box-sizing: border-box;
		border: none;
		outline: none;
		background-color: transparent;
		flex: 1;
		min-width: 0;
	}

	> button {
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 0;
		color: var(--text-color) !important;
	}
}

div.room-entry {
	--room-list-entry-height: 3rem;

	width: 100%;
	display: flex;
	gap: .25rem;
	user-select: none;
	cursor: var(--clickable-cursor);
	height: var(--room-list-entry-height);
	padding: var(--room-list-padding) 0;
	contain-intrinsic-height: calc(var(--room-list-entry-height) + var(--room-list-padding) * 2);
	content-visibility: auto;
	contain: strict;

	&:hover, &:focus {
		background-color: var(--room-list-entry-hover-color);
	}

	&.active {
		background-color: var(--room-list-entry-selected-color);
	}

	> div.room-entry-left {
		height: var(--room-list-entry-height);
		width: var(--room-list-entry-height);
		margin: 0 .5rem 0 .75rem;

		> img.room-avatar {
			margin: .25rem 0;
		}
	}

	> div.room-entry-right {
		width: 100%;
		min-width: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		line-height: 1.125;

		> div.room-name {
			font-weight: 500;

			&.has-unreads {
				font-weight: bold;
			}
		}

		> div.room-name, > div.message-preview {
			overflow-x: clip;
			overflow-y: visible;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		> div.message-preview {
			color: var(--semisecondary-text-color);
			> span.sender-name {
				display: block;
				max-width: 6rem;
				overflow: hidden;
			}

			> span.preview-text {
				display: block;
			}
		}
	}

	> div.room-entry-unreads-placeholder {
		width: .5rem;
	}

	@container left-panel (max-width: 8rem) {
		> div.room-entry-right {
			display: none;
		}

		/* TODO this has partial duplication with the stuff below */
		> div.room-entry-unreads {
			z-index: 2;
			height: 0;
			width: 0;
			margin-left: -.75rem;
			margin-bottom: auto;
			position: relative;

			> div.unread-count {
				position: absolute;
				margin-top: 1rem;
				margin-right: .25rem;
				--unread-count-size: .75rem;
				font-weight: normal;
				font-size: .75em;
				background-color: var(--space-unread-counter-message-bg);

				&.notified {
					background-color: var(--space-unread-counter-notification-bg);
				}

				&.highlighted {
					background-color: var(--space-unread-counter-highlight-bg);
				}
			}
		}
	}
}

div.room-entry-unreads {
	display: flex;
	align-items: center;
	justify-content: right;
	margin-left: .25rem;
	margin-right: .5rem;

	&.floating {
		z-index: 2;
		height: 0;
		width: 0;
		margin-left: auto;
		margin-bottom: auto;
		margin-right: .25rem;
		position: relative;
		justify-content: center;

		> div.unread-count {
			position: absolute;
			/* This positioning doesn't feel very precise, but it looks correct enough */
			margin-top: .75rem;
			margin-right: .25rem;
		}
	}

	> div.unread-count {
		--unread-count-size: 1rem;
		--unread-count-padding-inline: calc(var(--unread-count-size)/3);
		--unread-count-padding-block: calc(var(--unread-count-size)/8);

		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--unread-count-size);
		color: var(--unread-counter-text-color);
		user-select: none;

		background-color: var(--unread-counter-message-bg);
		height: var(--unread-count-size);
		min-width: calc(var(--unread-count-size) - 2*(var(--unread-count-padding-inline) - var(--unread-count-padding-block)));

		line-height: 1;
		font-size: .75em;

		padding-inline: var(--unread-count-padding-inline);
		padding-block: var(--unread-count-padding-block);

		&.marked-unread {
			background-color: var(--unread-counter-marked-unread-bg);
		}

		&.notified {
			background-color: var(--unread-counter-notification-bg);
		}

		&.highlighted {
			background-color: var(--unread-counter-highlight-bg);
		}

		&.space {
			--unread-count-size: .75rem;
			background-color: var(--space-unread-counter-message-bg);

			&.notified {
				background-color: var(--space-unread-counter-notification-bg);
			}

			&.highlighted {
				background-color: var(--space-unread-counter-highlight-bg);
			}
		}
	}
}

img.avatar {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	object-fit: cover;

	&.small {
		width: 1rem;
		height: 1rem;
	}

	&.large {
		width: 5rem;
		height: 5rem;
	}

	&.space {
		border-radius: 0;
		clip-path: url(#squircle);
	}
}
